#Activar RewriteEngine
RewriteEngine on
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#0. Errores
ErrorDocument 404: /index.php?categoria=error
RewriteRule ^error/?$ index.php?categoria=error

#1. Inicio
RewriteRule ^inicio/?$ index.php?categoria=inicio

#2. Noticias
RewriteRule ^noticias?$ index.php?categoria=noticias
RewriteRule ^noticias/(.*)?$ index.php?categoria=noticias&id=$1

#3. Programación
RewriteRule ^programacion?$ /index.php?categoria=programacion
RewriteRule ^programacion/(\w+)?$ /index.php?categoria=programacion&subcategoria=$1
RewriteRule ^programacion/(\w+)/(.*)?$ /index.php?categoria=programacion&subcategoria=$1&id=$2

#4. Linux
RewriteRule ^linux?$ /index.php?categoria=linux
RewriteRule ^linux/(\w+)/?$ /index.php?categoria=linux&subcategoria=$1
RewriteRule ^linux/(\w+)/(.*)/?$ /index.php?categoria=linux&subcategoria=$1&id=$2

#5.Windows
RewriteRule ^windows?$ index.php?categoria=windows
RewriteRule ^windows/(\w+)?$ /index.php?categoria=windows&subcategoria=$1
RewriteRule ^windows/(\w+)/(.*)/?$ /index.php?categoria=windows&subcategoria=$1&id=$2

#6.Contacto
RewriteRule ^contacto?$ index.php?categoria=contacto

#Cuando utilizamos el htaccess tenemos que poner rutas absolutas, porque sino no se nos veran los estilos poner todo con / no con ./